

.image{
    /*float: left;*/
    width: 175px;
    position: absolute;
    /*transform: translateY(-65px);*/
    border-radius: 15px;
    -webkit-transition: transform 1s;
    transition: width 3s;

}

.image:hover{
    width:300px;
    z-index: 1;

}


#placeholder{

    width: 400px;
}

#placeholder{
    display: block;
    margin-right: auto;
    margin-left: auto;
    height:200px;
    width:175px;
}

.head_eye{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

.head_eye2{
    width: 50px;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}




.small_eye{
    width: 20px;
}


#fifth_image{
    transform: translateY(-85px);

}

#fourth_image{
    transform: translateY(-85px);

}

#third_image{
    transform: translateY(-75px);
}

#second_image{

    transform:translateY(-75px);
}

#first_image{
    transform:translateY(-75px);
}


#headerimg{
    display: inline;
}

#list{
    list-style-image: url("../Images/smalleye.jpg");

}



#body{

    background-color: cornflowerblue;
}



.article{
    background-color: blue;
    margin-top: 15px;
    margin-right: 9px;
    margin-left: 9px;
    height: 200px;
    padding: 10px 50px 50px 20px;
    border-radius: 10px;
}




.heading{
    background-color: red;
    width: 75%;
    margin-left: 200px;
    border-radius: 5px;
    padding: 10px;
    height: 20px;

}

.header{
    background-color: black;
    border-radius: 20px;
    /*position: sticky;*/
    /*top: 0;*/
}

.header h1{

    color: white;
    text-align: center;
    margin-top: 0px;
}

.head_eye{
    width: 50px;

}

#fdiv{
    width: 10%;
}
#huge_container{
    background-color: white;
    border-radius: 20px;
    margin: 25px 155px 55px 155px;
    padding-top: 20px;
    padding-bottom:20px;
    padding-left:20px
}

#center_container{
    background-color: lightgrey;
    border-radius: 10px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 10px;
    padding: 25px;

}

#center_container h1{
    text-align: center;
}

#center_container h2{
    text-align: center;
}

#title_container{
    background-color:white;
    padding:20px;
    border-radius:20px
}


#article_container{

    background-color: cornflowerblue;
    margin: 25px 50px 25px 25px;
    padding: 25px 10px 10px 10px ;
    border-radius: 15px;
    z-index: 0;
}

#upper_container {

    padding: 20px;
    margin-left: 200px;
    margin-right: 200px;


}


.content_container{
    background-color: white;
    padding: 10px;
    border-color: black;
    width: 95%;
    height: 95%;
    border-radius: 15px;
    /*position: absolute;*/


    margin-right: auto;
    margin-left: auto;

}



.text_container{
    background-color: cornflowerblue;
    width: 76%;
    margin-left: 200px;

    border-radius: 15px;
    padding: 10px;

}



.report{
    background-color: red;
}




#nav_bar{


    position: -webkit-sticky;
    position: sticky;
float: left;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    top: 10%;
    width: 10%;
    height: 100%;
    margin: 0;

}



#nav_content{
    background-color: black;
    border-radius: 10px;
    padding:10px;

}

#nav_title{
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    text-align:center;

}
#form{
    color: white;
}

#form{
   text-align: center;
}



@media screen and (min-width: 500px) and (max-width: 699px)
{

    .heading{
        font-size: x-small;
        margin-left: 105px;
    }

    .text_container{
        margin-left: 105px;
    }


    #nav_bar{
        width: 100px;

        font-size: x-small;
    }

    #nav_content #email{
        width:75px;
    }


    #center_container{
        width: 165px;
        height: 240px;
        margin-left: 120px;
        margin-right: 135px;
    }
    #center_container {
        font-size: x-small;
    }
    #placeholder{
        width: 75px;
        height: 100px;
    }

    #upper_container{
        margin-right: 0px;
        margin-left: 0px;
    }

    #huge_container{
        margin-right: 50px;
        margin-left: 110px;
        padding-left: 10px;
    }

    #article_container{
        margin-right: 20px;
        margin-left: 2px;
    }

    #article_container .header{
        height: 35px;
    }
    #article_container .heading{
        font-size: small;
    }

    .text_container .report{
        font-size: xx-small;
    }
    .image{
        width: 100px;
        transform: translateY(20%);

    }
    .image:hover{
        width:200px;
        z-index: 1;

    }


    #article_container p{
        font-size: 8pt;
    }

    .header{
        height: 55px;
        font-size: x-small;
    }

    .head_eye{
        width: 35px;
    }

    .small_eye{
        width: 5px;
    }



    #fifth_image{
        transform: translateY(-35px);

    }

    #fourth_image{
        transform: translateY(-35px);

    }

    #third_image{
        transform: translateY(-25px);
    }

    #second_image{

        transform:translateY(-25px);
    }

    #first_image{
        transform:translateY(-25px);
    }
}

